<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.plim.kati_app" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KatiUI"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup" >
        <activity android:name=".kati.domain.nnew.categoryFilter.CategorySettingActivity" >
        </activity>
        <activity android:name=".kati.domain.foodDetail.FoodDetailActivity" />
        <activity android:name=".kati.domain.review.ReviewActivity" />
        <activity android:name=".kati.domain.setRestoreEmail.SetRestoreEmailActivity" />
        <activity android:name=".kati.domain.findId.FindIdActivity" />
        <activity android:name=".kati.domain.editSingleData.EditSingleActivity" />
        <activity android:name=".kati.domain.findPassword.FindPasswordActivity" />
        <activity android:name=".kati.domain.login.LoginActivity" />
        <activity android:name=".kati.domain.map.MapServiceActivity" />
        <activity android:name=".kati.domain.signOut.SignOutActivity" />
        <activity android:name=".kati.domain.editSingleData.EditNameActivity" />
        <activity android:name=".kati.domain.editSingleData.EditBirthActivity" />
        <activity android:name=".kati.domain.editSingleData.EditAddressActivity" />
        <activity android:name=".kati.domain.main.search.barcode.view.BarcodeActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAH63IC9w2B6lP4RYw05b7qAyNja8gOyjU" />

        <activity
            android:name=".kati.domain.editPassword.view.EditPasswordActivity"
            android:label="@string/title_activity_password_edit"
            android:theme="@style/Theme.KatiUI.NoActionBar" />
        <activity
            android:name=".kati.domain.signUp.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.KatiUI.NoActionBar" />
        <activity android:name=".kati.domain.main.MainActivity" />
        <activity android:name=".kati.domain.splash.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>