<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.plim.kati_app">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KATI_app"
        android:usesCleartextTraffic="true">
        <activity android:name=".kati.domain.temp.editData.userData.view.EditDataActivity" />
        <activity android:name=".kati.domain.search.foodInfo.view.review.WriteReviewActivity" />
        <activity android:name=".kati.domain.search.foodInfo.view.review.UpdateReviewActivity" />
        <activity android:name=".kati.domain.search.foodInfo.view.FoodInfoActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAH63IC9w2B6lP4RYw05b7qAyNja8gOyjU" />

        <activity android:name=".kati.domain.login.pwFind.view.FindPasswordActivity" />
        <activity
            android:name=".kati.domain.TempMainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kati.domain.login.emailFind.view.FindEmailActivity" />
        <activity android:name=".kati.domain.temp.setSecondEmail.view.SetSecondEmailActivity" />
        <activity android:name=".kati.domain.temp.itemRank.view.RankingActivity" />
        <activity android:name=".kati.domain.search.search.view.FoodSearchActivity" />
        <activity android:name=".kati.domain.search.search.view.searchBar.barcode.view.BarcodeActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"> </activity>
        <activity android:name=".kati.domain.temp.signOut.view.SignOutActivity" />
        <activity android:name=".kati.domain.temp.TempActivity" />
        <activity android:name=".kati.domain.login.signIn.view.SignInActivity" />
        <activity android:name=".kati.domain.temp.logout.view.LogOutActivity" />
        <activity android:name=".kati.domain.login.login.view.LoginActivity" />
        <activity android:name=".kati.domain.changePW.view.ChangePasswordActivity" />
        <activity android:name=".kati.domain.mypage.main.view.UserMyPageActivity"/>

    </application>

</manifest>